<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- th:fragment     -->
    <th:block th:insert="fragments/head :: headOutterLink" />

</head>
<body>



<th:block th:fragment="headerFragment"  >
    <!--
        Top-header Style
    -->
    <style>
    .top-header{
        margin : 0 auto;

    }
    .top-header-menu{
        font-size:0.8rem;
        display:flex;
        justify-content:right;
        align-items:center;
        height : 35px;


    }
    .top-header-menu>.item{
       width : 100px;
       position:relative;
       text-align:right;
    }
    .top-header-menu>.item>a{
        display:block;
    }
    .top-header-menu>.item:before{
        content:"|";
        position:absolute;
        left:0px;
        top:0px;
        font-size:0.8rem;
        margin-left:20px;
    }
    .top-header-menu>.item:first-child:before{
        display:none;
    }
</style>
    <!--
    top-header
    -->
    <div class="top-header container-xxl" sytle="display:flex;justify-content:space-between;align-items:center;">
        <div class="top-header-menu">
            <div>빌딩품 위험도 분석 및 예방 & 대응 시스템</div>
        </div>
        <div class="top-header-menu" sec:authorize="!isAuthenticated()" >
            <div class="item">
                <a href="/login">로그인</a>
            </div>
            &nbsp;&nbsp;
            <div class="item">
                <a href="/user/join">회원 가입</a>
            </div>
        </div>

        <div class="top-header-menu container-xxl" sec:authorize="isAuthenticated()" >
            <div class="item" style="width:500px;text-align:right;">
                <span sec:authentication="principal.username"></span> &nbsp<span> 계정 로그인</span>
                <span class="myProvider" style="display:none;"  th:text="${#authentication.getPrincipal().getUser().getProvider()}"></span> </span>
            </div>
            &nbsp;&nbsp;
            <div class="item">
                <form action="/logout" name="logoutForm"  method="post" onSubmit="return false" style="margin:0px;padding:0px;">
                    <button onclick="localLogout()" style="background-color:white;border:0px;outline:none;"><span class="material-symbols-outlined">logout</span></button>
                </form>
            </div>
        </div>

    </div>


    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success p-3 mb-1 header--nav"  style="display:flex;justify-content:space-between;align-items:center; "  >
        <div th:replace="~{fragments/nav :: navFragment}" />
    </nav>

    <!--
        Toast
    -->
    <style>
        .toast-header img{
            width:15px;
            height:15px;
            background-color:#2E64FE;
            border-radius:5px;
        }
    </style>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">

                <img src="#" class="rounded me-2" >
                <strong class="me-auto">댓글 알림</strong>
                <small></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">

            </div>
        </div>
    </div>
    <script>
        //----------------------------------------------------------
        // Bootstrap Toast 생성 함수
        //----------------------------------------------------------
        const createToast = ()=>{
                // 새로운 토스트 메시지 요소를 생성합니다.
                var toastContainer = document.createElement('div');
                toastContainer.className = 'position-fixed bottom-0 end-0 p-3';
                toastContainer.style.zIndex = '11';

                var toast = document.createElement('div');
                toast.id = 'liveToast';
                toast.className = 'toast';
                toast.setAttribute('role', 'alert');
                toast.setAttribute('aria-live', 'assertive');
                toast.setAttribute('aria-atomic', 'true');

                var toastHeader = document.createElement('div');
                toastHeader.className = 'toast-header';

                var img = document.createElement('img');
                img.src = '#';
                img.className = 'rounded me-2';

                var strong = document.createElement('strong');
                strong.className = 'me-auto';
                strong.textContent = '댓글 알림';

                var small = document.createElement('small');

                var closeBtn = document.createElement('button');
                closeBtn.type = 'button';
                closeBtn.className = 'btn-close';
                closeBtn.setAttribute('data-bs-dismiss', 'toast');
                closeBtn.setAttribute('aria-label', 'Close');

                var toastBody = document.createElement('div');
                toastBody.className = 'toast-body';

                // 생성한 요소들을 하위 구조로 추가합니다.
                toastHeader.appendChild(img);
                toastHeader.appendChild(strong);
                toastHeader.appendChild(small);
                toastHeader.appendChild(closeBtn);

                toast.appendChild(toastHeader);
                toast.appendChild(toastBody);

                toastContainer.appendChild(toast);

                // 토스트 메시지를 화면에 추가합니다.
                document.body.appendChild(toastContainer);

        }

        //----------------------------------------------------------
        // Bootstrap Toast 띄우기
        //----------------------------------------------------------
        const toastTrigger = document.getElementById('liveToastBtn');
        const toastLiveExample = document.getElementById('liveToast');
        if(toastTrigger){
            toastTrigger.addEventListener('click',()=>{

                //현재
                //axios 비동기요청 db로부터 읽지 않은 모든 알림정보 가져오기
                axios.get('/boardnotification/read/')
                .then(
                    response=>{
                            //기존 삭제
                            const toast_items = document.querySelector('.toast-body');
                            while(toast_items.firstChild){
                                 toast_items.firstChild.remove()
                            }

                        console.log(response.data);
                        document.querySelector('.toast-header small').innerHTML=new Date().toLocaleString();

                        response.data.forEach(item=>{
                            console.log(item);

                            const newEl = document.createElement('div');
                            newEl.setAttribute('style','font-size:0.7rem;');
                            newEl.innerText  = 'bno : ' +item.bno + ' 작성자 : ' + item.replyusername + ' MESSAGE : ' +  item.massage;
                            newEl.innerText  = 'bno : ' +item.bno + ' 작성자 : ' + item.replyusername + ' MESSAGE : ' +  item.massage;
                            document.querySelector('.toast-body').appendChild(newEl);
                        });

                        toastTrigger.style.display='none';

                })
                .catch(error=>{});

                const toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
            })
        }
    </script>


    <script src="/js/logout.js"></script>
</th:block>









</body>
</html>