<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- th:fragment     -->
    <th:block th:insert="~{fragments/head :: headOutterLink}" />

    <!-- common.css   -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- login.css -->
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>


<div class="wrapper">
    <header>
        <!-- th:fragment     -->
        <div th:replace="~{fragments/header :: headerFragment}" />
    </header>

    <main class="container-xxl">

        <section>
            <!-- ID 로그인 -->
            <div class="id_login_block">
                <div class="header">
                    <h3>LOGIN</h3>
                </div>
                <div class="body">

                    <form name="joinform" action="/login" method="post" onsubmit="return false">

                        <div class="m-2 mb-3 insert-el-group">
                            <input name="username" class="username">
                            <div class="placeholder">INSERT USERNAME</div>
                        </div>
                        <div class="m-2 insert-el-group">
                            <input name="password" type="password"  class="password" >
                            <div class="placeholder">INSERT PASSWORD</div>
                        </div>
                        <div class="m-2 form-check" >
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me"/>
                            <label class="form-check-label" for="rememberMe" style="font-size:0.8rem;">로그인 상태를 유지</label>
                        </div>
                        <div >
                            <button class="btn btn-success w-100"  onclick="isValid()">로그인</button>
                        </div>

                        <div class="m-2 join_req" >

                            <a href="/user/join" class="join_btn" >회원가입</a>
                        </div>

                        <div class="m-2 oauth_icon">
                            <a href="/oauth2/authorization/kakao"> <img src="/images/kakao_icon.webp" /></a>
                            <a href="/oauth2/authorization/google"> <img src="/images/google_icon_2.png" class="google_icon" /></a>
                            <a href="/oauth2/authorization/naver"> <img src="/images/naver_icon.png" /></a>
                        </div>

                        <div class="m-2 etc_req" >
                            <a href="javascript:void(0)"  >아이디 찾기</a>
                            &nbsp;&nbsp;
                            |
                            &nbsp;&nbsp;
                            <a href="javascript:void(0)"  >패스워드 찾기</a>
                        </div>
                    </form>
                </div>

            </div>
        </section>


    </main>




</div>



<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- common.js   -->
<script src="/js/common.js"></script>
<!-- login.js   -->
<script src="/js/login.js"></script>




</body>
</html>

