<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- th:fragment     -->
    <th:block th:insert="fragments/head :: headOutterLink"/>

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- join.css    -->
    <link rel="stylesheet" href="/css/user/join.css">

</head>
<body>


<div class="wrapper ">

    <header>
        <!-- th:fragment     -->
        <div th:replace="fragments/header :: headerFragment" />
    </header>

    <main class="container-xxl">
        <section>


            <div class="join_block">
                <div class="header">
                    <!-- title -->
                    <h3>아이디찾기</h3>
                </div>
                <div class="body">
                    <form  class="joinform"  name="joinform" action="/user/join" method="post" onsubmit="return false">
                        <div>
                            <label>연락처입력</label>&nbsp;&nbsp;<span th:text="${username}" style="font-size:0.7rem;color:orange;" class="username_msg"></span>

                            <div style="display:flex;">
                                <input name="phone" class="form-control phone" placeholder="연락처 입력">
                                <button type="button" class="btn btn-secondary email_auth_btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:80px;margin-left:5px;">
                                    인증
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </section>

        <section></section>
        <section></section>
        <section></section>
    </main>
    <!--  footer fragment      -->

</div>



<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- 다음 주소 API    -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    const search_addr_btn = document.querySelector('.search_addr_btn');
    search_addr_btn.addEventListener('click',function(){
       new daum.Postcode({
                oncomplete: function(data) {
                    console.log(data);
                    const zipcode = document.querySelector('.zipcode');
                    const addr1 = document.querySelector('.addr1');

                    if(data.userSelectedType==='R')
                    {
                        addr1.value = data.roadAddress;
                    }
                    else
                    {
                        addr1.value = data.jibunAddress;
                    }
                    zipcode.value=data.zonecode;

                }
            }).open();
    });
</script>
<!-- common.js   -->
<script src="/js/common.js"></script>
<!-- common.js   -->
<script src="/js/user/join.js"></script>



</body>
</html>