<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- th:fragment     -->
    <th:block th:insert="fragments/head :: headOutterLink"/>

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- join.css    -->
    <link rel="stylesheet" href="/css/user/join.css">

</head>
<body>


    <div class="wrapper ">

        <header>
            <!-- th:fragment     -->
            <div th:replace="fragments/header :: headerFragment" />
        </header>

        <main class="container-xxl">
            <section>


                <div class="join_block">
                    <div class="header">
                        <!-- title -->
                        <h3>회원가입</h3>
                    </div>
                    <div class="body">
                        <form  class="joinform"  name="joinform" action="/user/join" method="post" onsubmit="return false">
                            <div>
                                <label>이메일계정</label>&nbsp;&nbsp;<span th:text="${username}" style="font-size:0.7rem;color:orange;" class="username_msg"></span>

                                <div style="display:flex;">
                                    <input name="username" class="form-control username" placeholder="이메일 계정 입력">
                                    <button type="button" class="btn btn-secondary email_auth_btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:80px;margin-left:5px;">
                                        인증
                                    </button>
                                </div>
                            </div>
                            <div>
                                <label>패스워드</label>&nbsp;&nbsp;<span th:text="${password}"  style="font-size:0.7rem;color:orange;"></span>
                                <input type="password" name="password" class="form-control" placeholder="패스워드 입력">
                            </div>
                            <div>
                                <label>패스워드 확인</label>&nbsp;&nbsp;<span th:text="${repassword}"  style="font-size:0.7rem;color:orange;"></span>
                                <input type="password" name="repassword" class="form-control" placeholder="패스워드 다시입력">
                            </div>
                            <div>
                                <label>연락처</label>
                                <div>
                                    <input name="phone" class="form-control" placeholder="- 제외하고 입력">
                                </div>
                            </div>
                            <div>
                                <label>우편번호 검색</label>
                                <div style="display:flex;">
                                    <input name="zipcode" class="form-control zipcode"  placeholder="우편번호 입력">
                                    <button class="btn btn-secondary search_addr_btn" style="width:80px;margin-left:5px;">검색</button>
                                </div>
                            </div>
                            <div>
                                <label>기본 주소</label>
                                <input name="addr1" class="form-control addr1"  placeholder="기본주소 입력">
                            </div>
                            <div>
                                <label>상세 주소</label>
                                <input name="addr2" class="form-control" placeholder="상세주소 입력">
                            </div>
                            <div>
                                <button onclick=isValid() class="btn btn-success w-100 join_btn">회원가입</button>
                            </div>
                            <div>
                                <button  class="btn btn-secondary w-100">이전으로</button>
                            </div>
                        </form>
                    </div>
                </div>

                <script>

                </script>
            </section>

            <section></section>
            <section></section>
            <section></section>
        </main>
        <!--  footer fragment      -->
        <div th:replace="fragments/footer :: footerFragment" />
    </div>





    <!-- Email Auth Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">인증 코드 입력</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form style="display:flex;justify-content:space-between;" onSubmit="return false">
                       <div style="width:100%;">
                           <input class="form-control code">
                       </div>
                       <div style="width:80px;margin-left:5px;text-align:right;">
                           <button class="btn btn-primary email_auth_btn_2">전송</button>
                       </div>
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">다시요청</button>
                    <button type="button" class="btn btn-secondary modal_exit" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>



    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- 다음 주소 API    -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        const search_addr_btn = document.querySelector('.search_addr_btn');
        search_addr_btn.addEventListener('click',function(){
           new daum.Postcode({
                    oncomplete: function(data) {
                        console.log(data);
                        const zipcode = document.querySelector('.zipcode');
                        const addr1 = document.querySelector('.addr1');

                        if(data.userSelectedType==='R')
                        {
                            addr1.value = data.roadAddress;
                        }
                        else
                        {
                            addr1.value = data.jibunAddress;
                        }
                        zipcode.value=data.zonecode;

                    }
                }).open();
        });
    </script>
    <!-- common.js   -->
    <script src="/js/common.js"></script>
    <!-- common.js   -->
    <script src="/js/user/join.js"></script>



</body>
</html>