*{box-sizing: border-box;}
body{
    padding: 0px;
    margin : 0 auto;
}

a{
    text-decoration:none;
    color:black;
}

/* 전체 */
.wrapper{

    margin : 0 auto;
}

/* 헤더 */
.wrapper>header{

}
.wrapper>header>.top-header{

}
.wrapper>header>nav{

}

/* 메인 */
.wrapper>main{}
.wrapper>main>section{}

/* 푸터*/
.wrapper>footer{}

