        *{}
        a{
            text-decoration: none;
            color:gray;
        }
        body{


        }

        .wrapper{

        }
        .wrapper::after{
            content : "";
            position:absolute;
            left:0px;top:0px;
            background-color:#F2F2F2;
            width:100vw;
            height:100vh;
            z-index:-1;

        }


        .wrapper>header{

        }
        .wrapper>header>.top-header{

        }
        .wrapper>header>nav{
            position:relative;
            z-index:5;
        }

        .wrapper>main{}
        .wrapper>main>section{}

        .wrapper>main>section .login{
          text-decoration: none;
          text-align:right;
          color:gray;

        }
        .wrapper>main>section .id_login_block{
            position:relative;
            z-index:2;
            width:400px;
            height:400px;
            margin : 100px auto;
            padding : 20px;
            border : 1px solud gray;
            border-radius :5px;
            box-shadow : 5px 5px 5px 5px lightgray;
            background-color:white;
        }

        .wrapper>main>section>.id_login_block>.header
        {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom:10px;

        }

        .wrapper>main>section>.id_login_block>.body
        {
            display:flex;
            justify-content: center;
            align-items: center;

        }
        .wrapper>main>section>.id_login_block>.body form{
            width : 350px;
        }
        .wrapper>main>section>.id_login_block>.body form>*{
            margin : 5px;
        }

        .wrapper>main>section   .join_req {
            text-align:right;
            font-size:0.8rem;

        }
        .wrapper>main>section  .etc_req{
            text-align:center;
            font-size:0.9rem;
        }
        .wrapper>main>section .oauth_icon{
            display:flex;
            justify-content:center;
            align-items : center;
        }
        .wrapper>main>section .oauth_icon img{
            display:block;

            width : 45px;
            height : 45px;
            margin : 5px;
            border : 50%;
            margin-right:15px;
        }
        .google_icon{
            width : 55px;
            height : 55px;
        }
        .google_icon>*{
            margin-right:10px;
        }

        .wrapper>footer{}




        .insert-el-group{
            border : 1px solid lightgray;
            position:relative;
            height:45px;
            display:flex;
            justify-content:center;
            align-items : center;
            border-radius:5px;
            background-color:white;
            margin-bottom:15px;
        }
        .insert-el-group input{
            border : 0px;
            outline: none;
            height:35px;

            font-size:0.8rem;
            width:95%;

        }
        .insert-el-group .placeholder{
            position:absolute;
            left:20px;
            top:10px;
            font-size:0.9rem;
            color:#585858;
            transition:0.3s;
            font-weight:500;
        }
